body{
  background-color: #fff;
  background-size: 100% 100%;
  overflow: auto;
}
*{
  margin: 0;
  padding: 0;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
ul,li{
  list-style: none;
}
body, button, input, keygen, legend, select, textarea {
  font: 14px/1.5 Helvetica,sans-serif;
  color: #333;
  outline: 0;
}

.u-height{
  height: 100%;
}

.m-newsong{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 320px;
  overflow: hidden;
}

.m-song-bg{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  background-image: url(/assets/img/1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: scale(1.5);
  transform-origin: center center;
  filter: blur(5px);
  /* background-position: 50%; 
  background-size: auto 100%;
  transform: scale(1.5);
  transform-origin: center top;
  transition: opacity .3s linear;*/
  z-index: -1; 
}

.m-song-bg:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
}

.m-scroll_wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  overflow: hidden;
  z-index: 21;
}

/* transform: translate(0px, -1312px) translateZ(0px);
transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
transition-duration: 0ms; */

.m-scroll_scroller_vertical{
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 100%;
}

.m-song_newfst{
  height: 614px;
  position: relative;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.m-logo{
  position: absolute;
  top: 12px;
  left: 10px;
  display: block;
  width: 92px;
  height: 17px;
  line-height: 0;
}

.u-svg{
  display: inline-block;
  vertical-align: middle;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 92px;
  height: 17px;
}


.m-song-wrap {
    padding-top: 63px;
}

.m-song-disc {
  position: relative;
  width: 248px;
  height: 248px;
  margin: 0 auto;
}

.m-song-disc:after {
  content: " ";
  position: absolute;
  top: -63px;
  left: 107px;
  z-index: 5;
  width: 84px;
  height: 122px;
  background: url(/assets/img/needle-small.png) no-repeat;
  background-size: contain;
}

.m-song-turn{
  width: 100%;
  height: 100%;
}

.m-song-turn:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: url(/assets/img/disc-small.png) no-repeat;
  background-size: contain;
}

.m-song-rollwrap{
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
}

.m-song-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: url(/assets/img/disc_default.png) no-repeat;
  background-size: contain;
}

.a-circling{
  animation: circling 20s infinite linear
}

.a-circling.paused {
  animation-play-state: paused;
}

@keyframes circling{
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

.u-img{
  width: 100%;
  vertical-align: middle;
  border: 0;
}

.m-song-lgour, .m-song-light {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.m-song-light {
  background: url(/assets/img/disc_light.png) no-repeat;
  background-size: contain;
}

.m-song-plybtn {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 10;
  background: url(/assets/img/plybtn.png) 0 0 no-repeat;
  background-size: contain;
}

.m-song-plybtn:after {
  content: "";
  display: block;
  position: absolute;
}

.m-song-clickarea {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 52px;
  z-index: 10;
}

.m-song-info {
  padding: 0 35px;
  margin-top: 25px;
}

.m-song-h2 {
  text-align: center;
  font-size: 15px;
  line-height: 1.1;
  color: #fefefe;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



.m-song-autr {
  font-size: 13px;
  color: hsla(0,0%,100%,.6);
}

.m-song-lrc {
  position: relative;
  margin-top: 14px;
}

.m-song-scroll{
  height: 24px;
  line-height: 1.5;
  font-size: 13px;
  /* height: 72px; */
  overflow: hidden;
  text-align: center;
  color: hsla(0,0%,100%,.6);
}

.lrc-current{
  color: rgb(255,255,255)
}

.m-link, .m-guide{
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.m-link {
  color: hsla(0,0%,100%,.6);
  height: 30px;
  line-height: 30px;
  bottom: 18px;
}

.m-guide {
  height: 36px;
  padding-top: 10px;
  bottom: -14px;
}

.m-guide .arr {
  display: block;
  width: 17px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: 17px auto;
  background-image: url(/assets/img/download.png);
  background-position: 0 0;
}

.m-guide .arr.ani {
  animation: shining 1.2s steps(1) infinite;
  text-overflow: e
}

.m-song-lritem.active{
  color: rgb(255,255,255)
}

@keyframes shining{
  0% {
    background-position: 0 0;
  }
  15% {
      background-position: 0 -12px;
  }
  30% {
      background-position: 0 -24px;
  }
  45% {
      background-position: 0 -36px;
  }
  60% {
      background-position: 0 -48px;
  }
  75% {
      background-position: 0 -60px;
  }
  90% {
      background-position: 0 -72px;
  }
  100% {
      background-position: 0 -84px;
  }

}

@media screen and (min-width: 360px){
  .m-song-wrap {
      padding-top: 70px;
  }
  .m-song-disc {
    width: 296px;
    height: 296px;
  }
  .m-song-disc:after {
    width: 96px;
    height: 137px;
    top: -70px;
    left: 133px;
    background-image: url(/assets/img/needle.png);
  }
  .m-song-turn:before {
    background-image: url(/assets/img/disc.png);
  }
  .m-song-rollwrap {
    width: 184px;
    height: 184px;
    margin: -92px 0 0 -92px;
  }
  .m-song-light {
    background: url(/assets/img/disc_light-small.png) no-repeat;
    background-size: contain;
  }
  .m-song-plybtn {
    width: 56px;
    height: 56px;
  }
}

@media screen and (min-width: 375px){
  .m-song-h2 {
      font-size: 18px;
  }
  .m-song-autr, .m-song-pure {
    font-size: 16px;
  }
  .m-song-scroll{
    font-size: 16px;
  }
}

@media screen and (min-width: 414px){
  .m-song-wrap {
      padding-top: 80px;
  }
  .m-song-disc {
    width: 342px;
    height: 342px;
  }
  .m-song-disc:after {
    width: 110px;
    height: 157px;
    top: -80px;
    left: 150px;
    background-image: url(/assets/img/needle-plus.png);
  }
  .m-song-turn:before {
    background-image: url(/assets/img/disc-plus.png);
  }
  .m-song-rollwrap {
    width: 212px;
    height: 212px;
    margin: -106px 0 0 -106px;
  }
  .m-song-light {
    background: url(/assets/img/disc_light-plus.png) no-repeat;
    background-size: contain;
  }
  .m-song-plybtn {
    width: 65px;
    height: 65px;
    background-image: url(/assets/img/plybtn-plus.png);
  }
  .m-song-info{
    margin-top: 15px;
  }
  .m-song-lrc{
    margin-top: 6px;
  }
}

@media screen and (min-height: 672px){
  .m-song-info {
      margin-top: 25px;
  }
  .m-song-lrc{
    margin-top: 14px;
  }
}



