body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,li{
  list-style: none;
}

body {
  font: 12px/1.5 "hiragino sans gb",arial;
  color: #555;
  background-color: #FFF;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrap {
  width: 100%;
  overflow: hidden;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

.mod_header {
  position: relative;
  height: 44px;
  background: #31c27c;
}

.mod_header .music_logo {
  float: left;
  display: block;
  width: 90px;
  height: 25px;
  margin: 9px 0 0 10px;
  background-image: url(../../../../assets/img/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.mod_header .btn_download {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 8px;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 99px;
  font-size: 14px;
  background: #149c5a;
  color: #fff;
}

.mod_nav {
  background: #fff;
  display: flex;
}
.mod_nav a{
  flex: 1;
  position: relative;
  display: block;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: rgba(0,0,0,0.6)
}

.mod_nav a.current {
  color: #31c27c;
}

.mod_nav a.current:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #31c27c;
}

.recom_wrap,
.toplist_wrap,
.search_wrap{
  display: none;
}

.active{
  display: block;
}

.slides-container {
  width: 100%;
  /* height: 2.87rem; */
  border: none;
  overflow: hidden;
  position: relative;
}

.slides {
  position: absolute;
  z-index: 1;
  transition: all 1s ease-in;
}
.slides img {
  float: left;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.slides-buttons {
  position: absolute;
  overflow: hidden;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  line-height: 20px;
  text-align: center;
  z-index: 100;
}

.slides-buttons span {
  cursor: pointer;
  float: left;
  width: .5em;
  height: .5em;
  margin-right: .5em;
  border-radius: .25em;
  background-color: rgba(144,144,144,.8);

}

.slides-buttons .on {
  background-color: #fff;
}

.arrow {
  cursor: pointer;
  display: none;
  color: #fff;
  text-align: center;
  font-weight: 400;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 42px;
  background-color: rgba(0, 0, 0, .4);
  z-index: 2;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, .7);
}
.slides-container:hover .arrow {
  display: block;
}

.slides-prev {
  left: 2%;
}

.slides-next {
  right: 2%
}

.mod_twocol_list {
  margin-top: 7px;
  padding-bottom: 22px;
}

/* .mod_twocol_list */
.list_title {
  font-size: 16px;
  padding-left: 9px;
  color: #000;
  margin-bottom: 11px;
  font-weight: 400;
  position: relative;
}

/* .mod_twocol_list */
.list_title:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  width: 2px;
  height: 16px;
  background-color: #31c27c;
}

.mod_twocol_list
.list_container {
  overflow: hidden;
  margin-right: -8px;
}

.mod_twocol_list li{
  float: left;
  width: 33%;
  padding-right: .7%;
  margin-bottom: 10px;
  overflow: hidden;
}

.mod_twocol_list li
.list_main{
  display: block;
  background: #fff;
}

.mod_twocol_list li
.list_media{
  position: relative;
  margin-bottom: 5px;
}

.mod_twocol_list li
.list_media::before{
  content: "";
  display: block;
  padding-top: 100%;
}

.mod_twocol_list li
.list_media::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 42px;
  z-index: 2;
  background-image: url(../../../assets/img/gd/shadow_rp.png);
  background-size: 1px 42px;
  background-repeat: repeat-x;
}

/* .clearfix::after{
  content: '';
  clear: both;
  display: block;
} */

.mod_twocol_list li
.list_media img{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  /* height: auto; */
  z-index: 1;
}

.mod_twocol_list li .list_media .listen_count {
  left: 5px;
  bottom: 7px;
  display: block;
  line-height: 12px;
  color: #fff;
  position: absolute;
  z-index: 10;
}

.mod_twocol_list li .list_media .icon_listen {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-image: url(../../../assets/img/favico.png);
  background-repeat: no-repeat;
  background-size: 24px 60px;
  background-position: 0 -50px;
}

.mod_twocol_list li .list_media .icon_play {
  height: 24px;
  bottom: 5px;
  right: 5px;
  width: 24px;
  background-image: url(../../../assets/img/favico.png);
  background-repeat: no-repeat;
  background-size: 24px 60px;
  background-position: 0 0;
  position: absolute;
  display: block;
  z-index: 10;
}

.mod_twocol_list li .list_info {
  padding: 0 7px 5px;
  color: #000;
  /* border: 1px solid red; */
}

.mod_twocol_list li .list_info .list_tit,
.mod_twocol_list li .list_info .list_text,
.singer,.title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  /* border: 1px solid black; */
}

.mod_twocol_list li .list_info .list_tit{
  font-size: 14px;
}

.mod_twocol_list li .list_info .list_text{
  font-size: 12px;
}

.mod_song_list{
  margin-top: 7px;
  /* padding-bottom: 22px; */
}

.mod_song_list
.sgitem{
  display: flex;
  padding-left: 10px;
  color: #333;
  cursor: pointer;
  position: relative;
}

.sgitem::after{
  position: absolute;
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
  pointer-events: none;
  box-sizing: border-box;
  transform-origin: top left;
  transform: scale(.5);
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 200%;
  height: 200%;
}
.mod_song_list
.sgitem .item_container{
  padding: 6px 0;
  width: 0;
  flex: 1 1 auto;
}

.sgitem .title{
  font-size: 14px;
}

.sgitem .singer{
  font-size: 12px;
  color: #888;
}

.sgitem .singer
.sq{
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 4px;
  background: url(../../../assets/img/favico2.png) no-repeat;
  background-size: 166px 97px;
}

.sgitem .item_play{
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.sgitem .item_play
.icon_play{
  background: url(../../../assets/img/favico2.png) no-repeat;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -24px 0;
  background-size: 166px 97px;
}

.mod_footer{
  position: relative;
  padding-top: 53.3%;
  margin-top: 4px;
  background: url(../../../assets/img/bg2.png) no-repeat;
  background-size: contain;
}

.footer_wrapper{
 position: absolute;
 left: 0;
 right: 0;
 bottom: 0;
 top: 0;
 z-index: 1;
 text-align: center; 
}

.footer_wrapper .logo{
  padding-top: 16.9%;
}

.footer_wrapper .logo svg{
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 44px;
}
.footer_wrapper .openapp{
  line-height: 38px;
  border: 1px solid #31c27c;
  border-radius: 38px;
  font-size: 16px;
  color: #31c27c;
  margin: 15px 37px 5px;
}

.footer_wrapper .copyright{
  color: #888;
  font-size: 12px;
  line-height: 16px;
  transform: scale(.75);
}

