body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

body {
  font: 12px/1.5 "hiragino sans gb",arial;
  color: #555;
  background-color: #FFF;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrap {
  width: 100%;
  overflow: hidden;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

.mod_header {
  position: relative;
  height: 44px;
  background: #31c27c;
}

.mod_header .music_logo {
  float: left;
  display: block;
  width: 90px;
  height: 25px;
  margin: 9px 0 0 10px;
  background-image: url(../../assets/img/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.mod_header .btn_download {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 8px;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 99px;
  font-size: 14px;
  background: #149c5a;
  color: #fff;
}

.mod_nav {
  background: #fff;
  display: flex;
}
.mod_nav a{
  flex: 1;
  position: relative;
  display: block;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: rgba(0,0,0,0.6)
}

.mod_nav a.current {
  color: #31c27c;
}


.slides-container {
  /* 自适应样式 */
  width: 100%;
  /* 高度初始值 可以设置也可以去掉 */
  /* height: 2.87rem; */
  border: none;
  overflow: hidden;
  position: relative;
}

.slides {
  position: absolute;
  z-index: 1;
  /* 添加过度属性 */
  transition: all 1.5s
}
.slides img {
  float: left;
  /* 自适应宽度 */
  width: 100%;
  /* 高度初始值设置auto 则为图片原始值高度 100%则为容器高度，同样可以不设置 为保持兼容性 设置为佳 */
  height: auto;
  /* height: 200px; */
  max-width: 100%;
}

.slides-buttons {
  position: absolute;
  overflow: hidden;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  line-height: 20px;
  text-align: center;
  z-index: 100;
}

.slides-buttons span {
  cursor: pointer;
  float: left;
  /* display: inline-block; */
  /* border: 1px solid #fff; */
  width: .5em;
  height: .5em;
  margin-right: .5em;
  border-radius: .25em;
  background-color: rgba(144,144,144,.8);

}

.slides-buttons .on {
  background-color: #fff;
}

.arrow {
  cursor: pointer;
  display: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
  position: absolute;
  /* 垂直居中 */
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 42px;
  /* 不垂直居中 占满高度 */
  /* width: .6rem;
  font-size: .6rem;
  height: 100%;
  vertical-align: middle; */
  background-color: rgba(0, 0, 0, .4);
  z-index: 2;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, .7);
}
.slides-container:hover .arrow {
  display: block;
}

.slides-prev {
  left: 2%;
  /* left: 0; */
}

.slides-next {
  right: 2%
  /* right: 0; */
}